<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.iweiojbackend.repo.mapper.ImageInfoMapper">

    <insert id="insertImage">
        insert into storage_image(image_name, image_path, image_hash, create_user, create_date)
        values (
        #{imageName}, #{imagePath}, #{imageHash},
        #{createUser.id}, current_time)
    </insert>

    <select id="queryImage" resultType="com.zero.iweiojbackend.model.po.ImageInfo">
        select
            storage_image.id as id,
            image_name as imageName,
            image_path as imagePath,
            image_hash as imageHash,
            create_date as createDate
        from
            storage_image
        where
            create_user = #{userId} and image_hash = #{imageHash}
    </select>

</mapper>