<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.iweiojbackend.repo.mapper.SystemRoleMapper">

    <resultMap id="systemRole" type="com.zero.iweiojbackend.model.po.SystemRole">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="describe" column="describe"/>
        <result property="createDate" column="create_date"/>
        <result property="createPerson" column="create_person"/>
        <result property="updateDate" column="update_date"/>
        <result property="updatePerson" column="update_person"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="queryPrefix">
        select system_role.id,
               system_role.name,
               system_role.`describe`,
               system_role.create_date,
               u1.name as 'create_person', system_role.create_date,
               u2.name as 'update_person', system_role.update_date,
               system_role.remark
        from system_role
                 left join user_info u1 on system_role.create_person = u1.id
                 left join user_info u2 on system_role.update_person = u2.id
    </sql>

    <select id="getUserRoleByAccount" resultMap="systemRole">
        <include refid="queryPrefix"/>
        join user_info u on u.role_id = system_role.id
        <where>
            u.account=#{account}
        </where>
    </select>

    <select id="getUserRoleByName" resultType="com.zero.iweiojbackend.model.po.SystemRole">
        <include refid="queryPrefix"/>
        <where>
            system.name = #{name}
        </where>
    </select>

    <select id="getAll" resultMap="systemRole">
        <include refid="queryPrefix"/>
    </select>

    <select id="queryTotal" resultType="java.lang.Long">
        select count(*) from system_role;
    </select>

</mapper>