<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.iweiojbackend.repo.mapper.TagInfoMapper">

    <insert id="save">
        insert into tag_info(name, create_person, update_person)
        values (#{name}, #{createPerson}, #{updatePerson});
    </insert>

    <update id="updateById">
        update tag_info
        <set>
            <if test="name!=null and name!=''">
                name
                =
                #{name},
            </if>
            <if test="updatePerson!=null">
                update_person
                =
                #{updatePerson},
            </if>
        </set>
        <where>
            id
            =
            #{id}
        </where>
    </update>

    <delete id="deleteById">
        delete
        from tag_info
        where id = #{id}
    </delete>

    <resultMap id="getResult" type="com.zero.iweiojbackend.model.po.TagInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createDate" column="create_date"/>
        <result property="createPerson" column="create_person"/>
        <result property="updateDate" column="update_date"/>
        <result property="updatePerson" column="update_person"/>
    </resultMap>

    <sql id="getTagInfo">
        select tag_info.id,
               tag_info.name,
               tag_info.create_date,
               u1.name as create_person,
               tag_info.update_date,
               u2.name as update_person
        from tag_info
                 inner join user_info u1 on tag_info.create_person = u1.id
                 inner join user_info u2 on tag_info.update_person = u2.id
    </sql>

    <select id="getAll" resultType="com.zero.iweiojbackend.model.po.TagInfo">
        <include refid="getTagInfo"/>
    </select>

    <sql id="pagination">
        limit
        #{page.pageNumber},
        #{page.pageSize}
    </sql>

    <sql id="condition">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (tag_info.id like "%"
                #{keyword}
                "%"
                or
                tag_info
                .
                name
                like
                "%"
                #{keyword}
                "%"
                )
            </if>
        </where>
    </sql>

    <select id="getAllByQuery" resultMap="getResult">
        <include refid="getTagInfo"/>
        <include refid="condition"/>
        <include refid="pagination"/>
    </select>

    <select id="getById" resultMap="getResult">
        <include refid="getTagInfo"/>
        <where>
            tag_info
            .
            id
            =
            #{id}
        </where>
    </select>

    <select id="tagCount" resultType="java.lang.Long">
        select count(*)
        from (
        <include refid="getTagInfo"/>
        <include refid="condition"/>) as t
    </select>

    <select id="tagRelevancyCount" resultType="java.lang.Long">
        select count(*)
        from tag_info,
             pro_tag
        where tag_info.id = pro_tag.pro_id
          and tag_info.id = #{tagId}
    </select>

</mapper>