<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.iweiojbackend.repo.mapper.UserRoleMapper">

    <sql id="queryMessage">
        select user_info.id   as user_id,
               system_role.id as role_id
        from user_info,
             system_role
    </sql>

    <insert id="insertUserRole">
        insert into user_role(user_id, role_id)
        <include refid="queryMessage"/>
        where user_info.account=#{account} and system_role.name='common'
    </insert>

    <insert id="insertUserRoleList">
        insert into user_role(user_id, role_id)
        <include refid="queryMessage"/>
        <where>
            (<foreach collection="list" item="model" index="index" separator="or">
            user_info.account=#{model.account}
        </foreach>) and system_role.name='common'
        </where>
    </insert>

    <update id="updateUserRoleById">
        update
        user_role
        <set>
            <if test="level!=null and level.id!=null">
                role_id=#{level.id}
            </if>
        </set>
        where user_id = #{id}
    </update>

</mapper>