<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.iweiojbackend.repo.mapper.UserInfoMapper">

    <sql id="savePrefix">
        insert into user_info(`name`, `account`, `password`, `create_person`, `update_person`, `role_id`)
    </sql>

    <insert id="save">
        <include refid="savePrefix"/>
        values (#{name}, #{account}, #{password}, #{createPerson}, #{updatePerson}, #{role.id});
    </insert>

    <insert id="saveAll" parameterType="java.util.Collection">
        <include refid="savePrefix"/>
        values
        <foreach collection="list" item="model" index="index" separator=",">
            (#{model.name}, #{model.account}, #{model.password}, #{model.createPerson}, #{model.updatePerson}, #{model.role.id})
        </foreach>
    </insert>

    <update id="updateById">
        update
        user_info
        <set>
            <if test="name != null">
                name
                =
                #{name},
            </if>
            <if test="email != null">
                email
                =
                #{email},
            </if>
            <if test="phone != null">
                phone
                =
                #{phone},
            </if>
            <if test="profile != null">
                profile
                =
                #{profile},
            </if>
            <if test="avatar != null">
                avatar
                =
                #{avatar},
            </if>
            <if test="updatePerson != null">
                update_person
                =
                #{updatePerson}
            </if>
            <if test="status != null">
                status
                =
                #{status}
            </if>
        </set>
        where id=#{id};
    </update>

    <update id="updateUserPassword">
        update
            user_info
        set password=#{password}
        where id = #{uid}
    </update>

    <update id="updateSubmitCnt">
        update user_info
        set submit_cnt = submit_cnt + 1
        where id = #{id}
    </update>

    <update id="updateAcceptCnt">
        update user_info
        set accept_cnt = accept_cnt + 1
        where id = #{id}
    </update>

    <update id="updateUserRole">
        update user_info
        <set>
            role_id
            =
            #{roleId}
        </set>
    </update>

    <delete id="deleteById">
        delete from user_info
        <where>
            id
            =
            #{id}
        </where>
    </delete>

    <resultMap id="queryUserInfo" type="com.zero.iweiojbackend.model.po.UserInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="profile" property="profile"/>
        <result column="avatar" property="avatar"/>
        <result column="create_person" property="createPerson"/>
        <result column="create_date" property="createDate"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_date" property="updateDate"/>
        <result column="submit_cnt" property="submitCnt"/>
        <result column="accept_cnt" property="acceptCnt"/>
        <result column="status" property="status"/>
        <association property="role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
            <result column="role_describe" property="describe"/>
        </association>
    </resultMap>

    <sql id="queryUserInfo">
        select u.id,
               u.name,
               u.account,
               u.password,
               u.email,
               u.phone,
               u.profile,
               u.avatar,
               u1.name                as create_person,
               u.create_date,
               u2.name                as update_person,
               u.update_date,
               system_role.id         as role_id,
               system_role.name       as role_name,
               system_role.`describe` as role_describe,
               u.submit_cnt,
               u.accept_cnt,
               u.status
        from user_info u
                 join system_role on system_role.id = u.role_id
                 left join user_info u1 on u1.id = u.create_person
                 left join user_info u2 on u2.id = u.update_person
    </sql>

    <select id="getOne" resultMap="queryUserInfo" parameterType="com.zero.iweiojbackend.model.query.UserInfoQuery">
        <include refid="queryUserInfo"/>
        <where>
            u.status=0
            <if test="id!=null">
                and u.id=
                #{id}
            </if>
            <if test="account!=null">
                and
                (u.account=
                #{account}
                or
                u
                .
                email
                =
                #{account}
                or
                u
                .
                phone
                =
                #{account}
                )
            </if>
        </where>
    </select>

    <sql id="pagination">
        limit
        #{page.pageNumber},
        #{page.pageSize}
    </sql>

    <sql id="inquire">
        <where>
            <if test="status!=null">
                u
                .
                status
                =
                #{status}
            </if>
            <if test="keyword!=null and keyword!=''">
                and
                ( u.id like "%"
                #{keyword}
                "%"
                or
                u
                .
                account
                like
                "%"
                #{keyword}
                "%"
                or
                u
                .
                name
                like
                "%"
                #{keyword}
                "%"
                or
                u
                .
                email
                like
                "%"
                #{keyword}
                "%"
                )
            </if>
        </where>
    </sql>

    <select id="getAll" resultMap="queryUserInfo">
        <include refid="queryUserInfo"/>
        <include refid="inquire"/>
        order by u.accept_cnt desc, u.submit_cnt
        <include refid="pagination"/>
    </select>

    <select id="queryTotal" resultType="java.lang.Long">
        select count(*)
        from (
        <include refid="queryUserInfo"/>
        <include refid="inquire"/>) as u
    </select>

</mapper>