<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.acskybackend.repo.mapper.ProbInfoMapper">

    <resultMap id="query_pro_info" type="com.zero.acskybackend.model.po.ProbInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="difficulty" column="difficulty"/>
        <result property="timeLimit" column="time_limit"/>
        <result property="spaceLimit" column="space_limit"/>
        <result property="description" column="description"/>
        <result property="inputDesc" column="input_desc"/>
        <result property="outputDesc" column="output_desc"/>
        <result property="hint" column="hint"/>
        <result property="submitCnt" column="submit_cnt"/>
        <result property="passCnt" column="pass_cnt"/>
        <collection property="samples" ofType="com.zero.acskybackend.model.po.Sample">
            <result property="input" column="input"/>
            <result property="output" column="output"/>
        </collection>
    </resultMap>

    <sql id="pro_info">
        select prob_info.id,
        prob_info.title,
        prob_info.difficulty,
        prob_info.time_limit,
        prob_info.space_limit,
        prob_info.description,
        prob_info.input_desc,
        prob_info.output_desc,
        prob_info.hint,
        test_data.input,
        test_data.output,
        submit_cnt,
        pass_cnt
        from prob_info,
        test_data,
        (select prob_info.id pid,
        count(pid) submit_cnt,
        count(case when history.status = 'Accept' then 1 end) pass_cnt
        from prob_info
        left join history on prob_info.id = history.pid
        group by prob_info.id) as history
        where prob_info.id = test_data.pid
        and history.pid = prob_info.id
        and is_delete = 0
    </sql>

    <select id="queryAllList" resultMap="query_pro_info">
        <include refid="pro_info"/>
    </select>

    <select id="queryOne" resultMap="query_pro_info">
        <include refid="pro_info"/>
        and prob_info.id=#{id}
    </select>

    <!--useGeneratedKeys="true" keyProperty="id" 表示我们这个id要自增的-->
    <insert id="insertProblem" parameterType="com.zero.acskybackend.model.po.ProbInfo">
        insert into acsky.prob_info
        (id, title, difficulty, pass_cnt, submit_cnt, time_limit,space_limit
        ,description,input_desc,output_desc,sample_input,sample_output,hint,
        create_ts,created_by,is_del,path,tags)
        values (#{id}, #{title}, #{difficulty}, #{pass_cnt}, #{submit_cnt}
        , #{time_limit}, #{space_limit}, #{description}, #{input_desc},
        #{output_desc}, #{sample_input},#{sample_output}, #{hint},
        #{create_ts}, #{created_by}, #{is_del}, #{path}, #{tags});
    </insert>

    <select id="queryTotal" resultType="java.lang.Long">
        select count(*) from prob_info
        <where>
            is_delete=0
        </where>
    </select>

    <update id="updateProblem">
        update acsky.prob_info
        <include refid="problemUpdate"/>
        <include refid="problemFind"/>
    </update>

    <sql id="problemFind">
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </sql>

    <sql id="problemUpdate">
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="difficulty != null">`difficulty`=#{difficulty},</if>
            <if test="description != null">`description`=#{description},</if>
            <if test="sample_input != null">sample_input=#{sample_input},</if>
            <if test="sample_output != null">sample_output=#{sample_output},</if>
        </set>
    </sql>

    <delete id="deleteProblem">
        delete from acsky.prob_info where id=#{id};
    </delete>

</mapper>