<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.acskybackend.repo.mapper.UserInfoMapper">

    <insert id="insertOneUserInfo">
        insert into user_info(`name`, `account`, `password`, `create_date`, `update_date`)
        values(#{name}, #{account}, #{password}, current_time, current_time);
    </insert>

    <insert id="insertUserInfoList" parameterType="java.util.List">
        insert into user_info(`name`, `account`, `password`, `create_date`, `update_date`)
        values
        <foreach collection="list" item="model" index="index" separator=",">
            (#{model.name}, #{model.account}, #{model.password}, current_time, current_time)
        </foreach>
    </insert>

    <update id="updateUserInfo">
        update
        user_info
        set
        name=#{name}, email=#{email}, phone=#{phone},
        profile=#{profile}, update_date=current_time
        where account=#{account}
    </update>

    <update id="updateUserPassword">
        update
        user_info
        set
        password=#{password}
        where
        account=#{account}
    </update>

    <select id="queryUserInfo" resultType="com.zero.acskybackend.model.po.UserInfo">
        select
        id, name, account, password, email, phone, profile, avatar,
        create_date, update_date
        from
        user_info
        where
        is_delete=0 and account=#{account}
    </select>

</mapper>