<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.acskybackend.repo.mapper.UserInfoMapper">

    <insert id="insertOneUserInfo">
        insert into user_info(`name`, `account`, `password`, `create_date`, `update_date`)
        values (#{name}, #{account}, #{password}, current_time, current_time);
    </insert>

    <insert id="insertUserInfoList" parameterType="java.util.List">
        insert into user_info(`name`, `account`, `password`, `create_date`, `update_date`)
        values
        <foreach collection="list" item="model" index="index" separator=",">
            (#{model.name}, #{model.account}, #{model.password}, current_time, current_time)
        </foreach>
    </insert>

    <update id="updateUserInfo">
        update
        user_info
        set
        name=#{name}, email=#{email}, phone=#{phone},
        profile=#{profile}, update_date=current_time
        where account=#{account}
    </update>

    <update id="updateUserPassword">
        update
        user_info
        set
        password=#{password}
        where
        account=#{account}
    </update>

    <delete id="deleteUserInfo">
        update
        user_info
        set
        is_delete=1
        where
        id=#{id}
    </delete>

    <resultMap id="queryUserInfo" type="com.zero.acskybackend.model.po.UserInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="profile" property="profile" />
        <result column="avatar" property="avatar" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <association property="level">
            <id column="role_id" property="id" />
            <result column="describe" property="name" />
        </association>
    </resultMap>

    <sql id="queryUserInfo">
        select
        user_info.id, user_info.name, user_info.account, user_info.password,
        user_info.email, user_info.phone, user_info.profile, user_info.avatar,
        user_info.create_date, user_info.update_date, role_id,
        system_role.describe
        from
        user_info, user_role, system_role
    </sql>

    <select id="queryUserInfo" resultMap="queryUserInfo">
        <include refid="queryUserInfo" />
        <where>
            user_info.id = user_role.user_id
            and user_role.role_id = system_role.id
            and is_delete=0
            and account=#{account}
        </where>
    </select>

    <select id="queryUserInfoList" resultMap="queryUserInfo">
        <include refid="queryUserInfo" />
        <where>
            user_info.id = user_role.user_id
            and user_role.role_id = system_role.id
            and is_delete=0
        </where>
        limit #{pageNumber}, #{pageSize}
    </select>

    <select id="queryTotalRecord" resultType="java.lang.Long">
        select count(*)
        from user_info
        <where>
            is_delete=0
        </where>
    </select>

</mapper>